*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    background-color: bisque;
    margin: auto;
     overflow:hidden;
}
nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
}
nav ul li:first-child{
    color: green;
}
/* main section */
main{
    display: flex;
    height: 85vh;
    align-items: center;
    justify-content: center;
}
main div{
    width: 50%;
}
.left{
    margin-left: 5%;
    position: relative;
}
.top{
    width: 25px;
}
.left h1{
    font-size: 70px;
}
.left p{
    color: darkgray;
    font-size: 18px;
    margin: 20px 0;
}.bottom{
    width: 25px;
    position: absolute;
    right: 25px;
}
.stet{
    position: absolute;
    width: 90%;
    top: -60px;
    z-index: -1;
}
.left button{
    border-radius: 30px;
    color:white;
    background-color: green;
    border: none;
    padding: 15px 40px;
    font-size: 25px;
}
.left button:hover{
    background-color: #1B98F5;
    color: #4d4d4d;
}
.mouse{
    position: absolute;
    right: -30px;
    bottom: -15px;
    width: 30px;

}
/* right section */
.green,.yellow{
    position: absolute;
    right: 0;
}
.doctor{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90%;
}
.green{
    position: absolute;
    width: 35%;
    bottom: 30px;
}
.yellow{
    position: absolute;
    width: 30%;
    bottom :80px
}